/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/***********************************************************************  Browser CSS Reset **************************************************/																


html
{
	font-size: 16px;
}

/* header Image  */

.headimg
    {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;

    }
.headimgtext
     {  
        align-items: center;
        position:absolute;
        left: 0;
        top: 400px;
        position: absolute;
        top: 500px;
        left: 0;
        padding: 20px;
        display:;
        background: rgba(0, 0, 0, 0.5);
        z-index: 350px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
/* Text */

.headimgtext h1
{
        font-size: 5rem;
}
button 
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 

/* ************************************************************************************CSS FOR DESKTOP***************************************************************************************************** */
 @media only screen and (min-width: 760px)
{   

.topnav 
{
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover 
{
  background: #ccc;
}
    .headimg
    {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    

    }   
    .headimgtext
     {  
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        position:absolute;
        left: 0;
        top: 500px;
        position: absolute;
        top: 200px;
        left: 0;
        display:;
        background: rgba(0, 0, 0, 0.5);
        z-index: 350px;
        padding-top: 30px;
        padding: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;

    }
    .logoimg
    {
        float: left;
        padding: 5px;
    }
}


