/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------ */




/* Browser CSS Reset */




html{
    font-size: 16px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: lightgrey;
}
header{
    text-align: center;
    color: black;
    

}
header img{
        position: relative; 
        width: 100%;
}
header h1{
    color: white;
    position: absolute; 
    font-size: 3rem;
    top: 15%; 
    left: 0; 
    width: 100%; 
}
.nav ul {
    list-style: none;
    
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40rem;
    border-bottom: 1px solid #888;;
  }
   
  .nav a {
    text-decoration: none;
    align-items: center;
    color: black;
    display: block;
    transition: .3s;  
    /* Tag for Transition */
  }
    .nav a.active {
    cursor: default;
  }
   
     .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
  }
  
  
  


  /* Styling tag for text on top of the image*/

h1{
    font-size: 4rem;
}
h2,h3{
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 1%;
}
li{
    margin-left:3%;
    list-style: disc;
}

  

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightcyan;
    }
/* adding text next to image in article */
.container_image{
    width: 25%;
    float: left;
    padding: 10px 10px 10px 10px;
      }
.container_text{
    display: inline;
    font-size: 1rem;
    letter-spacing: px;
    word-spacing: 5px;
  }

footer{
    text-align: right;
    font-size: 1.5rem;
}
/* Form Styling */
input[type=text],input[type=email],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea{
    width: 90%;

  }
  
.formcss{
    border:black;
    border-width: 2px;
    border-style: solid;
    font-size:1.5rem;
    width: 100%;
    word-spacing:2px;
}
