@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	margin: 0px;
}

.header {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;

	height: 15vh;
	width: 100%;
	background-color: #555;
	color: #f1f1f1;
	margin: 0px;
	padding-left: 1rem;
	box-sizing: border-box;
	font-size: 1.2rem;
}

.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
	margin: 0px;

}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	margin-right: 0.5rem;
}

.navbar a:hover {
	background-color: #000;
}

.info-box {
	border: 1px dotted black;
	padding: 1rem;
	margin: 1rem;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px #363633;
}

.header .breadcrumb a:visited {
	letter-spacing: 1px;
	color: white;
	text-decoration: none;

}