@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	background-color: #190933;
	color: #f1f1f1;
	margin: 0px;
	padding-left: 1rem;
	box-sizing: border-box;
	font-size: 1.5rem;
}


.navbar {
	width: 100%;
	background-color: #190933;
	overflow: auto;
	margin: 0px;

}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	margin-right: 0.5rem;
}

.navbar a:hover {
	background-color: #000;
}

/* Code added so that image align or float on left side of nav bar */
.navbar img {
	float: right;

}

/* ****************animantion  added in th top right corner of the nav bar in brand logo*********** */

.navbar img:hover {
	transform: scale(0.5);
	transition: 2s;
}
.info-box {
	border: 1px dotted black;
	padding: 1rem;
	margin: 1rem;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px #363633;
}

.header .breadcrumb a:visited {
	letter-spacing: 1px;
	color: white;
	text-decoration: none;

}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #190933;
	color: #f1f1f1;
}