@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}


.header {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	background-color: #190933;
	color: #f1f1f1;
	margin: 0px;
	padding-left: 1rem;
	box-sizing: border-box;
	font-size: 1.5rem;
}


.navbar {
	width: 100%;
	background-color: #190933;
	overflow: auto;
	margin: 0px;

}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	margin-right: 0.5rem;
}

.navbar a:hover {
	background-color: #000;
}

/* Code added so that image align or float on left side of nav bar */
.navbar img {
	float: right;

}

/* ****************animantion  added in th top right corner of the nav bar in brand logo*********** */

.navbar img:hover {
	transform: scale(0.5);
	transition: 2s;
}

.contact-us-section {
	width: 100%;

	display: flex;
	align-items: center !important;
	justify-content: center !important;

}

.input-form-box {
	width: 70%;
	padding: 2rem;
	box-sizing: border-box;
	text-align: center;

}

.input-form-box form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.input-form-box input {

	margin: 1rem;
	width: 60%;
	border-radius: 10px;
	border-width: 0px;
	padding: 1rem;
	background-color: rgb(201, 212, 214);

}

.input-form-box button {

	margin: 1rem;
	width: 40%;
	border-radius: 10px;
	border-width: 0px;
	padding: 1rem;
	background-color: rgb(54, 67, 94);
	font-size: large;
	letter-spacing: 1px;
	box-shadow: 2px 2px #363636;

}

.input-form-box button:hover {

	background-color: rgb(110, 117, 131);
	color: #f5f4f4;
}

.illustration {
	width: 30%;

}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #190933;
	color: #f1f1f1;
}

@media(max-width:500px) {
	.contact-us-section {
		flex-direction: column;
	}

	.input-form-box {
		width: 100%;
	}

	.illustration {
		width: 100%;

	}
}

