@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
	margin: 0px;

}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	margin-right: 0.5rem;
}

.navbar a:hover {
	background-color: #000;
}

.active {
	background-color: #04AA6D;
}

.container {
	height: 100vh;
	width: 100%;
	display: flex;
	overflow-y: scroll;
	height: 83vh;
}

.image-box {
	height: 100%;
	width: 40%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: #a491d3;
}

.message-box {
	width: 60%;
	border: 1px solid black;
	box-sizing: border-box;
	background-color:#818aa3;
	color: #f1f1f1;
}

.message-box .header {
	padding: 1rem;
	font-size: 2rem;
	text-align: center;
	font-family: 'Lobster', cursive;
	letter-spacing: 1px
}

.message-box img {
	border-radius: 50%;
	display: block;
	float: right !important;
	margin-right: 1rem;
}

.message-box .shore-details {
	padding: 1rem;
	font-size: 1rem;
}

.message-box button {
	font-weight: bold;
    font-size: 1.25rem;
    background-color: #ff8480;
    color: white;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 10px;
	font-weight: bolder;
	cursor: pointer;
}

.footer {
	display: flex;
	flex-direction: column;

	height: 11vh;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #555;
	color: #f1f1f1;
}

/* ***************************Moblie Site*************************************** */

@media(max-width: 500px) {
	.container {
		flex-direction: column;
	}

	.navbar a {
		float: none;
		display: block;
	}

	.image-box {
		width: 100%;
	}

	.message-box {
		width: 100%;
	}
}